beautifulsoup4==4.12.3
bs4==0.0.2
chardet==5.2.0
langchain==0.3.13
langchain-community==0.3.12
langchain-core==0.3.27
langchain-milvus==0.1.7
langchain-openai==0.2.13
langchain-text-splitters==0.3.4
langsmith==0.2.4
milvus-lite==2.4.10
ollama==0.4.4
openai==1.58.1
pandas==2.2.3
pydantic==2.10.4
pydantic-settings==2.7.0
pydantic_core==2.27.2
pymilvus==2.5.0
PyMuPDF==1.25.1
requests==2.32.3